@import '../assets/styles/colors.scss';

.guess-map-section {

    display: flex;
    flex-direction: column;
    align-items: center;

    .guess-title {
        font-size: 1.125rem;
    }

    .guess-box {

        width: 400px;

        margin-top: 1rem;
        border: 1px solid black;
        padding: 0.5rem;

        .guess-button {
            margin-top: 1rem;
        }

        &.guessed {
            border: 4px solid $color-guess;
        }
        &.failed {
            border: 4px solid $color-fail;
        }
    }

}