@import '../../assets/styles/colors.scss';

.guess-input {
    &:focus {
        outline: 0;
    }

    .guess-chars {

        .char-to-guess {
            font-size: 1.75rem;
            padding: 0 0.25rem;

            text-transform: uppercase;

            &.focused-char {
                color: #08C;
            }
        }
    }

    &.guessed .guess-chars .char-to-guess {
        color: $color-guess;
    }
}