@import '../../assets/styles/colors.scss';

.guess-button {
    cursor: pointer;

    border: 3px solid black;
    color: black;
    font-weight: bold;


    &:hover{
        color: white;
        background-color: #c0c0c0;
    }
}